* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #313030;
    color: #fff;
}

#header {
    width: 100%;
    height: 100px; /* Note: Consider adjusting the height based on your design needs */
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

.logo {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Carousel Styles */
#carouselSection {
    margin-top: 20px;
}

.carousel-inner {
    display: flex;
    transition: transform 1s ease-in-out; /* Set the transition time to 1 second */
}

.carousel-item {
    min-width: 200px; /* Adjust the width as per your preference */
    overflow: hidden; /* Ensures images are contained within the specified height */
}



.container h2 {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
